.experience{
    background-color: $main-bg;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 120px;

    .experience_title{
        text-align: center;
        width: 100%;
        span{
            color: gray;
            font-size: 1.2rem;
        }
        h1{
            margin: 10px 0;
            color: $main-color;
        }
    }
    .experience_box{
        @include flex(center,center);
        width: 100%;
        height: 100%;
        margin-top: 20px;
        .frontend_box, .backend_box{
            padding: 2.5rem 3rem;
            border-radius: 2rem;
            border: 1px solid $main-color;
            margin: 0 40px;
            font-size: 1.2rem;
            transition: 0.6s ease;
            h3{
                text-align: center;
                margin-bottom: 2rem;
                color: $main-color;
            }
            .experience_content{
                display: grid;
                grid-template-columns:1fr 1fr;
                row-gap: 3rem;
                .experience_details{
                    display: flex;
                    gap: 10px;
                    margin: 0 20px;
                    h4{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .frontend_box:hover, .backend_box:hover{
            background-color: $main-color;
            color: $text-white;
            transition: 0.6s ease;
            h3{
                color:$text-white;
            }
        }
        @include tablet{
            display: grid;
            grid-template-columns: 1fr;
            .frontend_box, .backend_box{
                width: 90%;
                margin: 10px auto;
            }
        }
    }
    @include tablet{
        margin-top: 50px;
    }
}