.experience{
    background-color: $main-bg;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 120px 0;

    .experience_title{
        text-align: center;
        width: 100%;
        span{
            color: gray;
            font-size: 1.2rem;
        }
        h1{
            margin: 10px 0;
            text-transform: uppercase;
            color: $main-color;
        }
    }
    .experience_box{
        width: 100%;
        @include flex(center,space-between);
        padding: 40px 20px;
        .box_1{
            text-align: center;
            h2{
                padding: 15px 0;
                text-transform: uppercase;
            }
            i{
                font-size: 100px;
                transition: 0.5s ease;
            }
            i:hover{
                transform: translateY(-10px);
                transition: transform 0.5s ease;
                cursor: pointer;
                
            }
            
        }
        .box_1:nth-child(1){
            i:hover{
                color: #ff3300;
                transition: 0.4s ease;
            }
        }
        .box_1:nth-child(2){
            i:hover{
                color: #0066ff;
                transition: 0.4s ease;
            }
        }
        .box_1:nth-child(3){
            i:hover{
                color: $main-color;
                transition: 0.4s ease;
            }
        }
        .box_1:nth-child(4){
            i:hover{
                color: #3399ff;
                transition: 0.4s ease;
            }
        }
        .box_1:nth-child(5){
            i:hover{
                color: $main-color;
                transition: 0.4s ease;
            }
        }
        @include tablet{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    @include tablet{
        margin-top: 50px;
    }
}